/* Geral */
:root {
    --color-background: #646464;
    --color-black: #000000;
    --color-yellow: #FEE45A;
    --color-btn: #fdfdfd;
}

body {
    background-color: whitesmoke;
    color: #333;
}

body.modo-escuro {
    background-color: var(--color-black);
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

header img {
    width: 30px;
    padding: 2px;
    border-radius: 1rem;
    height: 50px;
    width: 50px;
    transition: 0.2s ease-in-out;
}

header .logo {
    background-color: var(--color-yellow);
    border-radius: 10px;
}

header img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* todo-form */
button {
    background-color: var(--color-btn);
    color: var(--color-yellow);
    border: 2px solid var(--color-yellow);
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: var(--color-yellow);
    color: var(--color-btn);
}

button:hover>i {
    color: var(--color-btn);
}

button i {
    pointer-events: none;
    color: var(--color-yellow);
    font-weight: bold;
}

input,
select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* todo header */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: var(--color-btn);
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}

body.modo-escuro .todo-container {
    background-color: rgba(158, 158, 158, 0.158);
    box-shadow: 1px 4px 10px rgba(255, 255, 255, 0.2);
    color: white;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid whitesmoke;
}

body.modo-escuro .todo-container header {
    border-bottom: 1px solid rgb(37, 37, 37);
}

/* Todo forms */
#todo-form,
#edit-form {
    padding: 1rem;
    border-bottom: 1px solid whitesmoke;
}

body.modo-escuro #todo-form, body.modo-escuro #edit-form {
    border-bottom: 1px solid rgb(37, 37, 37);

}

#todo-form h2, #edit-form h2 {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.17rem;
}

.form-control {
    display: flex;
}

input {
    border: 2px solid var(--color-yellow);
    border-radius: 10px;
    color: var(--color-yellow);
}

input:hover {
    color: #000000;
    background-color: var(--color-yellow);
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/* Todo toolbar */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid whitesmoke;
    display: flex;
}

body.modo-escuro #toolbar {
    border-bottom: 1px solid rgb(37, 37, 37);

}

#toolbar h3 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid whitesmoke;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

body.modo-escuro #search {
    border-right: 1px solid rgb(37, 37, 37);
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    border: 2px solid var(--color-yellow);
    border-radius: 10px;
    color: var(--color-yellow);
    flex: 1;
}

#filter select:hover, #filter select:focus {
    color: #000000;
    background-color: var(--color-yellow);
}

/* Todo List */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid whitesmoke;
    transition: 0.3s;
}

body.modo-escuro .todo {
    border-bottom: 1px solid rgb(37, 37, 37);
}

.todo h4 {
    flex: 1;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: rgba(245, 245, 245, 0.781);
}

body.modo-escuro .done {
    background-color: rgb(37, 37, 37);
}

.done h4 {
    color: var(--color-yellow);
    text-decoration: line-through;
    font-style: italic;
}